@if(updatedCategory) {
  <div>      
    <!-- Form cập nhật thông tin sản phẩm -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h3>Update Category</h3>
          <form (ngSubmit)="updateCategory()">
            <div class="form-group mb-3">
              <label for="name">Name:</label>
              <input type="text" id="name" 
                [(ngModel)]="updatedCategory.name" 
                name="name" class="form-control" required>
            </div>                  
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
}
