<app-header></app-header>
<form [formGroup]="userProfileForm">
  <div class="row">
    <div class="col-md-3 mx-auto">
      <h2 class="product-header">Thông tin người dùng</h2>
      <div class="mb-3">
        <label class="form-label" for="fullname">Họ và tên</label>
        <input
          [class.is-invalid]="userProfileForm.get('fullname')!.invalid && userProfileForm.get('fullname')!.touched"
          class="form-control"
          formControlName="fullname"
          id="fullname"
          type="text"
        >
        @if (userProfileForm.get('fullname')!.invalid &&
        userProfileForm.get('fullname')!.touched) {
          <div
            class="invalid-feedback"
          >
            Họ và tên là trường bắt buộc.
          </div>
        }
      </div>
      <div class="mb-3">
        <label class="form-label" for="address">Address</label>
        <input
          [class.is-invalid]="userProfileForm.get('address')!.invalid && userProfileForm.get('address')!.touched"
          class="form-control"
          formControlName="address"
          id="address"
          type="text"
        >
      </div>
      <div class="mb-3">
        <label class="form-label" for="date_of_birth">Ngày sinh</label>
        <input
          class="form-control"
          formControlName="date_of_birth"
          id="date_of_birth"
          type="date"
        >
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Mật khẩu</label>
        <input
          [class.is-invalid]="userProfileForm.get('password')!.invalid
                        && userProfileForm.get('password')!.touched"
          class="form-control"
          formControlName="password"
          id="password"
          placeholder="Mật khẩu"
          required
          type="password"
        >
        @if (userProfileForm.get('password')!.invalid
        && userProfileForm.get('password')!.touched) {
          <div class="invalid-feedback">
            Mật khẩu ít nhất 3 ký tự.
          </div>
        }
      </div>
      <div class="mb-3">
        <label class="form-label" for="retype_password">Nhập lại mật khẩu</label>
        <input
          [class.is-invalid]="userProfileForm.get('retype_password')!.invalid
                          && userProfileForm.get('retype_password')!.touched"
          class="form-control"
          formControlName="retype_password"
          id="retype_password"
          placeholder="Nhập lại mật khẩu"
          required
          type="password"
        >
        @if (userProfileForm.hasError('passwordMismatch')) {
          <div class="invalid-feedback">
            Mật khẩu không khớp.
          </div>
        }
      </div>
      <div class="text-center">
        <button
          (click)="save()"
          class="btn btn-primary"
          type="button"
        >Lưu thay đổi
        </button>
      </div>
    </div>

  </div>
</form>
<app-footer></app-footer>
