<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>Insert Category</h3>
      <div class="row mb-3">
        <form (ngSubmit)="insertCategory()">
          <div class="form-group mb-3">
            <label for="name">Name:</label>
            <input
              [(ngModel)]="insertCategoryDTO.name" class="form-control" id="name"
              name="name" required type="text"
            >
          </div>
          <button class="btn btn-primary" type="submit">Insert</button>
        </form>
      </div>
    </div>
  </div>
</div>
