<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Đây là trang Home</h1>
    <p>Trang này hiển thị danh sách các sản phẩm, kèm ảnh</p>
    <p>Các bạn có thể chọn xem sản phẩm và mua hàng tại đây</p>
  </div>
  <!--Đoạn này có 1 ô searchbox bên trái, 1 combobox bên phải  -->
  <div class="search-box">
    <input
      [(ngModel)]="keyword" class="form-control search-input"
      placeholder="Tìm sản phẩm"
      type="text"
    >
    <select
      [(ngModel)]="selectedCategoryId"
      class="form-control product-category"
    >
      <option [value]="0">Tất cả</option>
      @for (category of categories; track category.name) {
        <option [value]="category.id">
          {{ category.name }}
        </option>
      }

    </select>
    <button (click)="searchProducts()" class="btn btn-primary">Tìm kiếm</button>
  </div>
  <div class="row">
    @for (product of products; track product.id) {
      <div class="col-lg-4 col-md-6">
        <div class="product-item" (click)="onProductClick(product.id)">
          <img [src]="product.url" alt="Product Image" class="product-image">
          <h3 class="product-name">{{ product.name }}</h3>
          <p class="product-description">{{ product.description }}</p>
          <p class="product-price">Giá: ${{ product.price }}</p>
        </div>
      </div>
    }
  </div>
</div>

<div class="d-flex justify-content-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      @if (currentPage > 0) {
        <li class="page-item">
          <a class="page-link" (click)="onPageChange(0)">First</a>
        </li>
      }
      @if (currentPage > 0) {
        <li class="page-item">
          <a class="page-link" (click)="onPageChange(currentPage - 1)">
            <i class="fa fa-chevron-left"></i>
          </a>
        </li>
      }
      @for (page of visiblePages; track page) {
        <ng-container>
          <li class="page-item" [ngClass]="{'active': page === currentPage + 1}">
            <a class="page-link" (click)="onPageChange(page - 1)">{{ page }}</a>
          </li>
        </ng-container>
      }

      @if (currentPage < totalPages - 1) {
        <li class="page-item">
          <a class="page-link" (click)="onPageChange(currentPage + 1)">
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="onPageChange(totalPages - 1)">Last</a>
        </li>
      }
    </ul>
  </nav>
</div>

<app-footer></app-footer>
