<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Đây là trang Order</h1>
    <p>Sử dụng Bootstrap</p>
  </div>
  <form [formGroup]="orderForm"> <!-- Thêm form và gán formGroup -->
    <div class="row">
      <div class="col-md-5">
        <h2 class="product-header">Thông tin người nhận</h2>
        <div class="mb-3">
          <label class="form-label" for="fullname">Họ và tên</label>
          <input
            [class.is-invalid]="orderForm.get('fullname')!.invalid && orderForm.get('fullname')!.touched"
            class="form-control"
            formControlName="fullname"
            id="fullname"
            type="text"
          >
          @if (orderForm.get('fullname')!.invalid &&
          orderForm.get('fullname')!.touched) {
            <div class="invalid-feedback">
              Họ và tên là trường bắt buộc.
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="email">Email</label>
          <input
            [class.is-invalid]="orderForm.get('email')!.invalid && orderForm.get('email')!.touched"
            class="form-control"
            formControlName="email"
            id="email"
            type="text"
          >
          @if (orderForm.get('email')!.invalid
          && orderForm.get('email')!.touched) {
            <div
              class="invalid-feedback"
            >
              {{ orderForm.get('email')!.hasError('email') ? 'Email không hợp lệ' : 'Email là trường bắt buộc' }}
            </div>
          }

        </div>

        <div class="mb-3">
          <label class="form-label" for="phone">Số điện thoại</label>
          <input
            [class.is-invalid]="orderForm.get('phone_number')!.invalid && orderForm.get('phone_number')!.touched"
            class="form-control"
            formControlName="phone_number"
            id="phone"
            placeholder="Số điện thoại"
            required
            type="text"
          >
          @if (orderForm.get('phone_number')!.invalid
          && orderForm.get('phone_number')!.touched) {
            <div class="invalid-feedback">
              Số điện thoại là trường bắt buộc và ít nhất 6 ký tự.
            </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="address">Địa chỉ</label>
          <input
            [class.is-invalid]="orderForm.get('address')!.invalid && orderForm.get('address')!.touched"
            class="form-control"
            formControlName="address"
            id="address"
            placeholder="Địa chỉ"
            required
            type="text"
          >
          @if (orderForm.get('address')!.invalid
          && orderForm.get('address')!.touched) {
            <div class="invalid-feedback">
              Địa chỉ là trường bắt buộc và ít nhất 5 ký tự.
            </div>
          }

        </div>
        <div class="mb-3">
          <label class="form-label" for="note">Ghi chú</label>
          <input
            class="form-control"
            formControlName="note"
            id="note"
            placeholder="Ghi chú"
            required
            type="text"
          >
        </div>
        <div class="mb-3">
          <label for="shippingMethod">Phương thức vận chuyển</label>
          <select
            class="form-control" formControlName="shipping_method"
            id="shippingMethod"
          >
            <option value="express">Nhanh (Express)</option>
            <option value="normal">Thường (Normal)</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="paymentMethod">Phương thức thanh toán</label>
          <select
            class="form-control" formControlName="payment_method"
            id="paymentMethod"
          >
            <option value="cod">Thanh toán khi nhận hàng (COD)</option>
            <option value="other">Thanh toán khác</option>
          </select>
        </div>
        <!-- </form> -->
      </div>
      <div class="col-md-7">
        <h2 class="product-order">Sản phẩm đã đặt hàng</h2>
        <table>
          <tbody>
          <ng-container *ngFor="let item of cartItems; let i = index">
            <tr>
              <td>
                <div class="product-info">
                  <img [src]="item.product.thumbnail" alt="Product Image" class="product-image">
                  <span class="product-name">{{ item.product.name }}</span>
                </div>
              </td>
              <td>
                <div class="product-quantity">
                  <div class="border-wrapper">
                    <button (click)="decreaseQuantity(i)">-</button>
                    {{ item.quantity }}
                    <button (click)="increaseQuantity(i)">+</button>
                  </div>
                </div>
              </td>
              <td>{{ item.product.price | number:'1.2-2' }}</td>
              <td>{{ (item.product.price * item.quantity) | number:'1.2-2' }}</td>
              <td>
                <button (click)="confirmDelete(i)" class="btn btn-danger">
                  Xóa
                </button>
              </td>
            </tr>
          </ng-container>
          </tbody>

        </table>
        <div class="text-start mt-3">
          <h4 class="header-text text-end ">Tổng giá: {{ totalAmount | number:'1.2-2' }} đ</h4>
        </div>
        <div class="mt-3">
          <h4 class="product-header">Nhập coupon</h4>
          <div class="input-group">
            <input
              class="form-control" formControlName="couponCode"
              placeholder="Nhập coupon"
              type="text"
            >
            <button
              (click)="applyCoupon()"
              class="btn btn-gradient" type="button"
            >Áp dụng
            </button>
          </div>
        </div>
        @if (couponDiscount > 0) {
          <div class="text-start mt-3">
            <h6 class="header-text text-end ">Bạn được discount: {{ couponDiscount | number:'1.2-2' }} đ</h6>
          </div>
        }
        <div class="text-start mt-3">
          <button
            (click)="placeOrder()"
            class="btn btn-gradient" type="button"
          >Đặt hàng
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<app-footer></app-footer>
