<div class="container-fluid">
  <header class="header bg-success text-white d-flex justify-content-between">
    <h1 class="header-title">Dashboard Header</h1>
    <!-- Logout Button -->
    <button (click)="logout()" class="btn btn-danger btn-sm">Logout</button>
  </header>
  <div class="row">
    <nav class="col-md-2 col-lg-2 d-md-block bg-light sidebar" id="sidebar">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              (click)="showAdminComponent('orders')"
              class="nav-link"
              routerLink="/admin/orders"
              routerLinkActive="active"
            >
              <i class="fab fa-first-order icon"></i>Orders
            </a>
          </li>
          <li class="nav-item">
            <a
              (click)="showAdminComponent('categories')"
              class="nav-link"
              routerLink="/admin/categories"
              routerLinkActive="active"
            >
              <i class="fab fa-canadian-maple-leaf icon"></i>Categories
            </a>
          </li>
          <li class="nav-item">
            <a
              (click)="showAdminComponent('products')"
              class="nav-link"
              routerLink="/admin/products"
              routerLinkActive="active"
            >
              <i class="fab fa-codepen icon"></i>Products
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="col-md-10 col-lg-10 overflow-auto">
      <!--
      <ng-container [ngSwitch]="adminComponent">
        <app-order-admin *ngSwitchCase="'orders'"></app-order-admin>
        <app-product-admin *ngSwitchCase="'products'"></app-product-admin>
        <app-category-admin *ngSwitchCase="'categories'"></app-category-admin>
      </ng-container>
      -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
