<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Đây là trang chi tiết sản phẩm</h1>
    <p>Sử dụng Bootstrap</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="carousel slide" data-bs-ride="carousel" id="carouselExample">
        <div class="carousel-inner">
          @for (image of product?.product_images;
            track image.image_url; let i = $index; ) {
            <div
              class="carousel-item"
              [ngClass]="{'active': i === currentImageIndex}"
            >
              <div class="square-image">
                <img [src]="image.image_url" class="product-image" alt="Product Image">
              </div>
            </div>
          }
        </div>
        <button
          (click)="previousImage()" class="carousel-control-prev" data-bs-slide="prev"
          data-bs-target="#carouselExample" type="button"
        >
          <span aria-hidden="true" class="carousel-control-prev-icon"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          (click)="nextImage()" class="carousel-control-next" data-bs-slide="next"
          data-bs-target="#carouselExample" type="button"
        >
          <span aria-hidden="true" class="carousel-control-next-icon"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="row">
        <div class="thumbnail-container">
          @for (image of product?.product_images;
            track image.image_url; let i = $index) {
            <div
              class="thumbnail-item"
              [ngClass]="{'active': i === currentImageIndex}"
              (click)="thumbnailClick(i)"
            >
              <img [src]="image.image_url" class="thumbnail-image" alt="Thumbnail Image">
            </div>
          }

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="product-details">
        <h2>{{ product?.name }}</h2>
        <p>{{ product?.description }}</p>
        <p>Giá: ${{ product?.price }}</p>
        <p>Tổng tiền: ${{ getTotalPrice() | number:'1.2-2' }}</p>
        <div class="product-actions">
          <button (click)="addToCart()" class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button (click)="buyNow()" class="btn btn-success">Mua ngay</button>
        </div>
        <div class="product-quantity">
          <div class="border-wrapper">
            <button (click)="decreaseQuantity()">-</button>
            <input [value]="quantity" type="text">
            <button (click)="increaseQuantity()">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
